
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<a class="btn btn-primary" href="/Admin/Blog/ExportDynamicExcelBlogList">Excel Listesini İndir</a>
